.searching{
    margin-top: 85px;
}

.trending{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    margin-top: -20px;
}

@media (max-width: 650px) {
    .trending{
        padding: 5px;
    }
  }